body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
  }
  
.pageWrap {
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}


h1 {
    text-align: center;
    background: #333;
    color: #FFF;
    width: 100%;
    font-size: 2em;
    margin: auto;
    padding: 15px 0px;

}

h2 {
    text-align: center;
    font-size: 1.5em;
    margin-top: 0px;
}

.logo {
    margin: auto;
   padding: 10px;
    width: 200px;
    height: auto;
}

.teamList div {
  width: 80%;
  margin-left: 10%;
  border: thin solid #333;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
}